*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    display: flex;
    background: #f4f6f9;
}
.sidebar{
    width: 250px;
    height: 100vh;
    background: #2f3542;
    color: #fff;
    padding: 20px;
}
.sidebar h2 {
    margin-bottom: 30px;
    font-size: 20px;
}
.sidebar ul {
    list-style: none;
}
.sidebar ul li {
    padding: 15px 10px;
    cursor: pointer;
    transition: 0.3s;
}
.sidebar ul li i {
    margin-right: 10px;
}
.sidebar ul li:hover,
.sidebar ul li.active {
    background: #57606f;
    border-radius: 5px;
}

.sidebar ul li i a{
    text-decoration: none;
    color: inherit;

}
.main-content {
    flex: 1;
    padding: 20px;
}
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.logout{
    text-decoration: none;
    color: #ff4757;
    font-weight: bold;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 20px;
}
.card{
    display: flex;
    align-items: center;
    padding: 25px;
    border-radius: 8px;
    color: #fff;
}
.card-icon {
    font-size: 40px;
    margin-right: 20px;
    opacity: 0.8;
}
.card-infor h2{
    font-size: 30px;
}

.card-infor p{
    margin-top: 5px;
}
.blue { background: #3498db; }
.red { background: #e74c3c; }
.orange { background: #f39c12; }
.green { background: #27ae60; }


.cards .blue:hover{
    background-color: #080a0b;

}
.cards .green:hover{
    background-color: #080a0b;

}

.cards .orange:hover{
    background-color: #080a0b;

}

.cards .red:hover{
    background-color: #080a0b;

}

.cards a{
    text-decoration: none;
}


/* Change password individual css */
.change-password-form{
    height: 300px;
    background: #4b4949;
    border-radius: 1rem;
    width: 500px;
    align-self: center;
}
.change-password-form > form{
    display: block;

    
    justify-content: center;
    height: 70px;
    
}

.change-password-form > form input{
    border-radius: 10px;
    justify-self: center;
    margin-bottom: 1rem;
    height: 40px;
}

.change-password-form > form button{
    height: 30px;
    background: #ad1212;
    border-radius: 5px;
    width: 150px;
    color: #f4f6f9;
    font-size: medium;
    border: none;
}



.log-out-cont{
    display: flex;
}

.fa-sign-out-alt{
    color: red;
}

.main-logout-con{
    background: #ef9f9f;
    height: 30px;
    width: 80px;
    border-radius: 7px;
    padding-top: 5px;
    padding-left: 5px;
}

 .logout {
            background: #fef0ec;
            color: #b34545;
            padding: 10px 28px;
            border-radius: 40px;
            text-decoration: none;
        }
